.body {
    padding: 0;
    margin: 0;
}

.sidenav-container {
    height: 100%;
    overflow: hidden !important;
    margin: 0px;
    padding: 0px;
    padding-bottom: 0;
    margin-bottom: 0;
    min-height: 620px;
}

.sideLeft {
    background-color: whitesmoke;
}

.sideRight {
    height: 100%;
    padding-bottom: 0;
    margin-bottom: 0;
}

.sideLeft a {
    text-decoration: none;
    color: black;
}

.example-spacer {
    flex: 1 1 auto;
}

.navMenu {
    background-color: black;
    color: white;
    padding-right: 40px;
}