<mat-toolbar class="navMenu">
    <button mat-icon-button class="example-icon" (click)="side()" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
  </button>
    <span>{{title}}</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        Login <mat-icon>login</mat-icon> 
  </button>
</mat-toolbar>

<div class="container-fluid">

    <div class="row">
        <div class="col-12 body">
            <mat-sidenav-container class="sidenav-container">
                <mat-sidenav class="sideLeft col-xl-2 col-lg-4 col-sm-6 col-12" #sidenav mode="side" [opened]="open">

                    <mat-list>
                        <mat-list-item><a href="user-master">Usuário</a></mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item><a href="launch-master">Lançamentos</a></mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item><a href="expenseType-master">Tipo de Despesa</a></mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item><a href="launchType-master">Tipo de Lançamento</a></mat-list-item>
                    </mat-list>

                </mat-sidenav>
                <mat-sidenav-content class="sideRight">

                    <router-outlet></router-outlet>

                </mat-sidenav-content>
            </mat-sidenav-container>
        </div>
    </div>
</div>